@*@model HelloModel*@
@model List<DataLayer.Entityes.Directory>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-12">
            <ul>
                @foreach (var dir in Model)
                {
                <li>
                    <h2>@dir.Title</h2>
                    <ul>
                        @if (dir.Materials != null)
                        {
                            @foreach (var subItem in dir.Materials)
                            {
                                <li>
                                    @subItem.Title
                                </li>
                            }
                        }
                    </ul>
                </li>
                }
            </ul>
        </div>
    </div>
